{{template "header.html" .}}

<div class="ui container">

    {{with $success := $.Request.FormValue "success"}}
        <div class="ui info message">
            <div class="header">
                {{if eq $success "settings"}}
                    Settings saved successfully
                {{else if eq $success "removeprofile"}}
                    Device removed successfully
                {{else if eq $success "emailsettings"}}
                    Email settings saved successfully
                {{else if eq $success "dyndnssettings"}}
                    DynDNS settings saved successfully
                {{else if eq $success "serversettings"}}
                    Server settings saved successfully
                {{end}}
            </div>
            <a class="close-link" href="/"><i class="close icon"></i></a>
        </div>
    {{end}}
    {{with $error := $.Request.FormValue "error"}}
        <div class="ui large negative message">
            <div class="content">
                <div class="header">
                    {{if eq $error "addprofile"}}
                        Adding device failed
                    {{else if eq $error "removeprofile"}}
                        Adding device failed
                    {{else if eq $error "profilename"}}
                        Device name is required
                    {{else}}
                        {{$error}}
                    {{end}}
                </div>
                <a class="close-link" href="/"><i class="close icon"></i></a>
            </div>
        </div>
        <div class="ui hidden divider"></div>
    {{end}}

    <div class="ui padded segment">
        <div class="ui stackable two column grid">
            <div class="column">
                <div class="ui hidden divider"></div>
                <div class="ui huge center aligned icon header">
                    <i class="icon"><img src="static/wireguard.png" alt="Wireguard" height="80" width="80"></i>
                    <div class="content">Wireguard is online</div>
                </div>
                <div class="ui hidden divider"></div>
            </div>
            <div class="column">
                <form class="ui huge form" action="/profiles/add" method="POST">
                    <div class="field">
                        <input name="name" type="text" value="{{$.Request.FormValue "name"}}" placeholder="Device Name" autofocus>
                    </div>
                    <div class="field">
                        <div class="ui equal width grid">
                            <div class="column">
                                <div id="add-profile-platform" class="ui fluid selection dropdown">
                                    <input type="hidden" name="platform">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select platform</div>
                                    <div class="menu">
                                        <div class="item" data-value="windows"><i class="black windows icon"></i>Windows</div>
                                        <div class="item" data-value="osx"><i class="black apple icon"></i>Mac OS X</div>
                                        <div class="item" data-value="ios"><i class="black apple icon"></i>iOS</div>
                                        <div class="item" data-value="android"><i class="black android icon"></i>Android</div>
                                        <div class="item" data-value="other"><i class="black asterisk dot icon"></i>Other</div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div id="add-profile-routing" class="ui fluid selection dropdown">
                                    <input type="hidden" name="routing">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select routing</div>
                                    <div class="menu">
                                        <div class="item" data-value="lan">LAN</div>
                                        <div class="item" data-value="any">Any (0.0.0.0/0)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <button type="submit" class="ui huge black fluid button">Add device</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="ui hidden divider"></div>

    {{if $.Profiles}}
        <div class="ui padded segment">
            <div class="ui huge black dividing header">
                Devices
            </div>
            <div class="ui hidden divider"></div>

            <!-- <div class="ui one stackable cards"> -->
            <div class="ui three stackable cards">
                {{range $n, $p := $.Profiles}}
                    <div class="show-profile card">
                        <a href="/profiles/delete/{{$p.ID}}" class="ui right corner label"><i class="trash alternate icon"></i></a>
                        <!-- <a href="/profiles/edit/{{$p.ID}}" class="ui right attached corner label"><i class="trash alternate icon"></i></a> -->
                        <div class="content">
                            <div class="header">
                                <i class="large
                                {{if eq $p.Platform "windows"}}
                                    windows
                                {{else if eq $p.Platform "osx"}}
                                    apple
                                {{else if eq $p.Platform "ios"}}
                                    apple
                                {{else if eq $p.Platform "android"}}
                                    android
                                {{else}}
                                    asterisk
                                {{end}}
                                    icon"></i> {{$p.Name}}
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui large list">
                                <div class="item">
                                    <i class="calendar icon"></i>
                                    <div class="content">
                                        <div class="header">
                                            Added {{time $p.Created}}
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="exchange icon"></i>
                                    <div class="content">
                                        <div class="header">
                                            Routing: {{$p.Routing}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>         
                        <div class="extra content">
                            <div class="ui three buttons">
                            <a href="/profiles/connect/{{$p.ID}}" class="ui large black fluid button" data-tooltip="Connect" data-inverted="">
                                <i class="desktop icon"></i>
                            </a>
                            <a href="/profiles/config/wireguard/{{$p.ID}}" class="ui large black fluid button" data-tooltip="Download" data-inverted="">
                                <i class="save icon"></i>
                            </a>
                            <div id="qr{{$p.Number}}" class="modal">
                                    <div class="ui header">
                                            QR Code for {{$p.Name}}:
                                    </div>
                                    <div class="image content">
                                        <div class="ui medium image">
                                        <img src="/profiles/png/wireguard/{{$p.ID}}">
                                        </div>
                                    </div>
                            </div>
                            <a href="#qr{{$p.Number}}" rel="modal:open" class="ui large black fluid button" data-tooltip="QR Code" data-inverted="">
                                <i class="qr code icon"></i>
                            </a>
                            </div>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    {{end}}

</div>

{{template "footer.html" .}}
