{{template "header.html" .}}

<div class="ui container">
  <div class="ui padded segment">
    <div class="ui huge black dividing header">
        Status
    </div>
    <div class="ui hidden divider"></div>
      {{if $.Status}}
      <div class="ui two stackable cards">
        <!-- {{range $n, $s := $.Status}} -->
                <div class="show-profile card">
                    <a href="/profiles/delete/" class="ui right corner label "><i class="trash alternate icon"></i></a>
                    <div class="content">
                        <div class="header">
                            <i class="icon"></i>{{$.Status.Type}}
                        </div>
                    </div>
                    <div class="extra lcontent">
                        <div class="ui large list">
                            <div class="item">
                                <i class="calendar icon"></i>
                                <div class="content">
                                    <div class="header">
                                      <!-- <ul>{{$.Status.Allowed}}</ul> -->
                                      <ul>{{$.Status.Port}}</ul>
                                      <ul>{{$.Status.State}}</ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <a href="/profiles/connect/" class="ui large basic black fluid button">Disconnect device</a>
                    </div>
                </div>
          <!-- {{end}} -->
      </div>
      {{end}}
    </div>
</div>

{{template "footer.html" .}}
