{{template "header.html" .}}

<div class="ui container">
  <div class="ui padded segment">
    <div class="ui huge black dividing header">
        Status
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui three stackable cards">
      <div class="show-profile card">
          <div class="content">
              <div class="header">
              </div>
          </div>
          <div class="extra content">
              <div class="ui large list">
                  <div class="item">
                      <div class="content">
                          <div class="header">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="extra content">
          </div>
      </div>
    </div>
  </div>
</div>

{{template "footer.html" .}}
